@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 767px) {

  body {
    overflow: hidden; 
  }

}

body{
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--font-archivo);
  background-color: #f8f8f8;
}

.footer-text {
  font-size: clamp(2.375rem, 1.95rem + 1.7vw, 3.4375rem);
}

.font-skills {
  font-size: clamp(1.875rem, 1.25rem + 2.5vw, 3.4375rem);
}

  /* .devis {
    background-image: url('/image/background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    opacity: .88;
  }

  .devis:hover {
    opacity: 1;
  }

  .devis h4 {
    font-size: 20px;
    font-family: var(--font-archivo);
    font-weight: bold;
    margin-left: 2rem;
  } */