@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  margin:auto;
  line-height: normal;
  font-family: 'abril', 'cursive';
  color:#232529;
  min-width: 300px;
}


h1, h2, h3, h4 {
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-size: var(--font-size-xl);
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

article:hover h3 { 
  text-decoration: underline; }

::selection {
  background: #E5EFFE;
  color:#3E7FF6;
}

#underline {
  display: inline;
  background: linear-gradient(to top, transparent 10%, hsl(218, 100%, 82%) 10.01%, hsl(218, 100%, 82%) 40%, transparent 40.01%) no-repeat;
}

#gradient {
  background: linear-gradient(to top, transparent 10%, hsl(218, 100%, 82%) 10.01%, hsl(218, 100%, 82%) 40%, transparent 40.01%) no-repeat;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap:2rem;
}



@media screen and (max-width: 750px) {


.nav__menu {
  top: -100px;
  display: flex;
  justify-content: center;
  visibility: hidden;
  width: 100%;
  background-color: white;
  padding:2rem 1.5rem 4rem;
  z-index: 1;
  position:absolute;
  flex-direction: column;
  align-items: center;
}

.show-menu {
  
  -webkit-animation: show-menu 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: show-menu 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  left:0;
  right: 0;
  visibility: visible;

}

.nav__toggle {
  width: 30px;
  height: 24px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.nav__toggle span {
  width: 100%;
  height: 3px;
  background-color: black;
  display: block;
  border: 50%;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease-out;

}

.nav__toggle span::before, .nav__toggle span::after {
  content:'';
  position: absolute;
  border-radius: 10px;
  width:100%;
  height: 3px;
  background-color: black;
  transition: transform 0.3s ease-in-out;
}

.nav__toggle span::before {
  transform: translateY(-10px);
}

.nav__toggle span::after {
  transform: translateY(10px);
}


.nav__toggle.active span {
  background-color: transparent;
}

.nav__toggle.active span::before {
  transform:translateX(0) rotateZ(45deg);
}

.nav__toggle.active span::after {
  transform:translateX(0) rotateZ(-45deg);
}
}


@-webkit-keyframes show-menu {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes show-menu {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
